<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #wrapper {
            width: 950px;
            margin: 0px auto;
        }

        #subcontent{
            margin: 0px auto;
        }

        .col {
            min-height: 20px;
            width: 20px;
            background-color:lightskyblue;
            display: inline-block;  
        }
    </style>
    <title>Checker Board</title>
</head>

<body>
    <div id="wrapper">
        <div id="subcontents">
        {% for i in range(num2) %} 
        <div class="row"></div>
        {% for j in range(num1) %}
        {% if (i+j)%2 != 0  %}
        <div class='col' style="background-color:{{color1}}"></div>
        {% endif %}
        {% if (i+j)%2 == 0  %}
        <div class='col' style="background-color:{{color2}}"></div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    </div>
</body>

</html>