<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey Index</title>
    <style>
        h3{
            text-decoration: underline;
        }
    </style>
</head>
<body>
        <h3>Submitted Info:</h3>
        <p>Name: {{ name_from_form }}</p>
        <p>Dojo Location: {{ location_from_form }}</p>
        <p>Favorite Languaga: {{lang_from_form}}</p>
        <p>Comment(Optional): {{comment_from_form}}</p>
        <p>Gender: {{gender_from_form}}</p>
        <P>Terms & Condition: {{termsNCon_from_form}}</P>
</body>
</html>
